oauth2.authorization.server.issue.jwt.access.token=B"true"
oauth2.authorization.server.jwt.access.token.signing.json.web.key="{\
  \"p\": \"zryCz7hjAHvAWNYl0DUb49m2VQvPxUHpWCvZ7vlYZcWEU95eFA6cavpBKOvLmTTJrvGToMkqi-yHRUPtvuCzaJGYbnnT5m4bs3fxQV4pSwMm_cIuJxlSOpuIyOs_X7oWEBSZ6nnn1OMaQMNPctVyt03FmKJmcrRMlbE4qQpR4Rc\",\
  \"kty\": \"RSA\",\
  \"q\": \"ySLALa5Kw4TqtevGvbz5a81UVs78KbFNDc64ckmPwdzS10kUril7FGXl1GJby-Wxqv_0VN2Lsm8JiJrw0g3mgnrxIIsig32rhdX0ChtqRjksRjWpTcOfN4zfAyAYyju4aQfYGxsX6mnCiEgRCyw3t1HYAXL227xbgzvB5lFAYfs\",\
  \"d\": \"VARRwbqAmhnrYxp53xerIqKrqa-MWb28uGzoz-0yndAtPbqkbLI4pjYaHvswm5ZeBU1I2FCtWz9dn7jD7E-qlR0pe_Nr6z4pPNad0LYreUPrLtkHvgvLxb4roDsK7cS68j4-Txt5vghtMGY8FJ6Jwc2MZkLy4wctrheCi3CjkFwIJjcbn4XOynDP1HPQ4TJcNpmIHqNbUWLJ4PnQfE0EpH0PD9mLsB5QGsdDccynB62ydBjVvT2oqyo18GjS4KIVQzQX_zqO5EzBTKwy7EYdCdDcb8DXR24_bUX88Jg-9r0T44IcUNknJtZarUVFQm1AdX_QyEWAO7mLao4xy2Oa1Q\",\
  \"e\": \"AQAB\",\
  \"use\": \"sig\",\
  \"kid\": \"cr-mruJDGwurIz4j7BAmxOoBBW5D_2QV56U-aCMUt6E\",\
  \"qi\": \"l0hkwKbpZVYTJNCx6CQfn33CevvttklIUvQFZEuQY405OFTS4coDtlz1cRSvqeMwNeMPIuxSfoNLSF2yYB3LUavOiyYdEAcq8cp17aAMeoyRcXOB7WgR4Nynom62pYmpbN-RbXDzqrJexWaWLZ3FFaAKEpWmmxlKl-E2E6SFopE\",\
  \"dp\": \"W1Kenk-fPBlucE-4yG6NcWs8xfi_wS1KfK5ySMRQrjRALiQufsGtivwdSIxQlc7hwKvqQL5cUw8a-hf1r7nmxqx6H2MlncbJ6c9z_SIxL3enA7WBWbgvwL_v_oEcr5auJFBVZWSQalQfxrgAIoPzdtGeFby3cLgAlKeClfl_DeU\",\
  \"alg\": \"RS256\",\
  \"dq\": \"IS9_n8nbAgljJGLjZpjQWk4FdVEvX72mJfoOiqTCeEzz6JthMx8a9JGfavxTgv_B4aHbcUkgbG9Pll9iDnZGqw6XzDPInQNWEn3rhuNhFHcIbAkchv0YvvSaMwzPqkZSNdoaeNZuirmqZAvn6_z-sFtrlUmfmz-npa5tXo_XXJM\",\
  \"n\": \"om4S8L1bgqDR-q62NSlZG0Sr0oBxKqVb0vkdUKVvUHSvGKvGgqbcUh_bL3VI28f6Olceg5Rp94hDt9KJA4ItiyQMqlDo1BJPLlwTuGiMlLTTI-kfU1yATWfuaEAvMKdqKeQ6fd9eChctpFyPHSmPhoAr48_EeecCPMVo-GOdzameO44CN2Ryd5tURjUAeC7kcEvjDWmlUz4Yfr3rd_KAG5sUNA6QmdfG2sBx1KsHpPFfYRbRDEmGyyxnNyntnJpe1_TfNRJumDMEDzgZBkw8JgJAT2RrYzYdIMQgpPzzCwUdjKaU0UvmazHJBNoLDM7_TrMehVSM0ew3UKkAsVFojQ\"\
}"
